<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel='stylesheet' href='css/menu.css' type='text/css' />
  <link rel="stylesheet" href="/css/numberlink.css"/>
  <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<div class="word">
  <h2>Add comment</h2>
  <tr>

  </tr>
  <table class="scores">
    <tbody>


    <form th:if="${@userController.logged}" action="/numberlink" method="post">
      <div class="login" >
        Comment:
        <input type="text" name="comment"/><br/>
        <input type="submit"/>
      </div>
      <div class="shadow"></div>
    </form>

    </tbody>
  </table>
</div>

</body>
</html>