<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel='stylesheet' href='css/menu.css' type='text/css' />
  <link rel="stylesheet" href="/css/numberlink.css"/>
  <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<div class="word">
  <h2>YOU'VE STARTED NEW GAME!</h2>
  <br>
  <h2>
    <br>
    <div class="button-54" >
      <a href="/numberlink" class="button">NEW GAME</a>
    </div>
  </h2>
  <style>
    .button {
      display: inline-block;
      padding: 0.5em 1em;
      background-color: #eeeeee;
      color: #000000;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>
</div>

</body>
</html>