<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='css/menu.css' type='text/css' />
    <link rel="stylesheet" href="/css/numberlink.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<div class="word">
    <h2>Rating</h2>
    <tr>
        <th>#</th>
        <th>Player</th>
        <th>Rate</th>
    </tr>
    <table class="ratings">
        <tbody>
        <ol>
            <li th:each="rating : ${ratings}">
                <span th:text="${rating.player}"/>
                <span th:text="${rating.rating}"/>
            </li>
        </ol>
        </tbody>
    </table>
</div>
<!--/*@thymesVar id="scores" type="java.util.List<sk.tuke.gamestudio.entity.Score>"*/-->
<!--<tr th:each="score, it : ${scores}">
    <td th:text="${it.index + 1}"/>
    <td th:text="${score.player}"/>
    <td th:text="${score.points}"/>
    <td th:text="${#dates.format(score.playedAt, 'dd.MM.yyyy HH:mm')}"/>
</tr>-->
</body>
</html>