<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='css/menu.css' type='text/css' />
    <link rel="stylesheet" href="/css/numberlink.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<div th:fragment="navmenu">
<div class="word">
    <h2>RULES:</h2>
    <br>
    <h2>The task is to connect all pairs of numbers on
        the board by marking the route from the number to its pair.
        At the end, there must not be an unfilled space on the playing field.
        Routes connecting numbers must not overlap and a route can only be one box wide.
    </h2>
</div>
</div>
</body>
</html>