# артефакты/данные
data_lake/
datalake/
logs/
warehouse.duckdb
mocks/

# env/секреты
.env
.env.*
*.key
*.pem

# Python
__pycache__/
*.pyc

# контейнеры/IDE
*.log
data_lake/
logs/
warehouse.duckdb
mocks/
__pycache__/
*.pyc
.env
